@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label asp-for="SearchModel.VinNumber" class="control-label"></label>
                    <input asp-for="SearchModel.VinNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="SearchModel.RegistrationPlate" class="control-label"></label>
                    <input asp-for="SearchModel.RegistrationPlate" class="form-control" />
                </div>

               <div class="form-group">
                <label asp-for="SearchModel.Type" class="control-label"></label>
                <select asp-for="SearchModel.Type" class="js-example-basic-single form-control" id="carType">
                        <option value="">-</option>
                        <option value="Micro">Micro</option>
                        <option value="Sedan">Sedan</option>
                        <option value="Wagon">Wagon</option>
                    </select>
                </div>

               <div class="form-group">
                <label asp-for="SearchModel.Owner" class="control-label"></label>
                <select asp-for="SearchModel.OwnerId" class="js-example-basic-single form-control" id="carOwner">
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cars[0].VinNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cars[0].RegistrationPlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cars[0].Type)
                </th>
                <th>
                    Owner
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cars)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VinNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegistrationPlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @if (item.Owner != null)
                        {
                            @Html.Raw(item.Owner.Surname+"&nbsp;"+item.Owner.Name)
                        }
                        else
                        {
                            @Html.Raw("&nbsp;")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#carOwner').select2({
            ajax: {
                url: 'https://localhost:7042/owners',
                data: function (params) {
                    var query = {
                        search: params.term
                    }

                    // Query parameters will be ?search=[term]&type=public
                    // ?search=[val]
                    return query;
                }
            }
        });
        $('#carType').select2();
    });
</script>
